div.container section.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;         
    width: 100%;
}

div.container section.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
    border-radius: 4px;   
}

div.container section.places h1 {
    font-size: 30px;
    width: 100%;
}

div.container section.places h2 {
    font-size: 30px;
    text-align: center;
}

div.container section .place-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

div.container section.places .price_by_night {
    color: #FF5A5F;
    border: 5px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

div.container section.places .information {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    height:80px;
    border-top:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
    text-align: center;
    padding-bottom: 1.25em;
}
section.places .information .max_guest {
    width:100px;
    background-image: url('../images/icon_group.png');
    background-position:center;
    background-repeat:no-repeat;
    padding-top: 4.5em;
}

section.places .information .number_rooms {
    width:100px;
    background-image: url('../images/icon_bed.png');
    background-position:center;
    background-repeat:no-repeat;
    padding-top: 4.5em;
}

section.places .information .number_bathrooms {
    width:100px;
    background-image: url('../images/icon_bath.png');
    background-position:center;
    background-repeat:no-repeat;
    padding-top: 4.5em;
}

div.container section.places .user {
    margin: 1em 0 .5em 0;
}
