footer {
    position: relative;
    background-color: #FFFFFF;; 
    height: 60px; 
    width: 100%; 
    border-top: 1px solid #CCCCCC;
    bottom: 0px;
    line-height: 60px; 
    text-align: center;                
}
